################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Platypus.HelperLibrary/obj
/Platypus.HelperLibrary/bin
.vs
/Platypus.Tests/bin
/Platypus.Tests/obj
